<!DOCTYPE html>
<html>
<head>
    <title>About - MedSol</title>
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='style.css')}}">
</head>
<body>
<div class="navbar">
    <a class="navlink" href="/">Home</a>
    <a class="navlink" href="/about">About</a>
    <a class="navlink" href="/contact">Contact</a>
</div>
<div class="title">
    <h1>MedSol</h1>
</div>
<div class="tagline">
    <h3>A simple and efficient way to cross-check prescriptions.</h3>
</div>
<hr class="break">
<div class="form">
    <div class="description">
        <p style="font-size:1em">For patients taking multiple prescription medications for their various medical
            conditions, the possibility
            of drug interactions is high and may have adverse effects on the patients. Often patients are unaware of
            their own medications and may be taking different formulations of the same drug prescribed by different
            doctors.
            <br><br>
            The devastating results of such interactions were realised especially during the COVID-19 pandemic when, due
            to the shortage of medicines, errors made by overworked doctors and panic buying, people overlooked the
            adverse
            effects of mixing medicines, over-dosing and consuming self-prescribed medicines which led to deteriorated
            immunities. Consequently, many succumbed to illnesses like Black Fungus.
            <br><br>
            This project aims at identifying such interactions in medical prescriptions which eases the process of
            prescribing medicines and therefore, decreases the chances of health complications.
        </p>
    </div>
</div>
<hr class="break">
<div class="footer">
    <h4>Developed by Tanmay Agarwal and Prakul Sharma</h4>
    <h6>MedSol &copy; 2021</h6>
</div>
</body>
</html>